:root {
    --primaryColor: #af9a7d;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #cfcfcf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 3px;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  }
/* COLUMNS */


.row{
  padding-top: 5%;
  display: flex;
  width: 100%;
  background: var(--offWhite);
  height: 100%;
  position: absolute;
}

.left {
width: 25%;
 float: left;
 background: var(--offWhite);
 padding-left: 5%

}

.right {
  width: 75%;
  float: left;
  background: var(--offWhite);
  padding-right: 5%;
  padding-left:5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* end of COLUMNS */

/* TITLE */
.project-icon {
  width: 22px;
  height: auto;
  float:left;
  margin: 0 16px 16px 0;
}
.p-icon-main{
  width: 50px;
  height: auto;
  float:left;
  margin: 0 16px 16px 0;
}

.projects-title{
  padding-top: 10%;
  padding-bottom: 5%;
  width: 100%;
  float: left;
  background: var(--offWhite);
  padding-right: 5%;
  padding-left: 5%;
  position: absolute;
  height: 100%;
}

h1 { 
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: x-large;
}

h2 { 
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: medium;
  
}
/* end of TITLE */

/* TABLE */
table {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border-collapse: separate;
  padding-top: 5%;
}

th {
  font-weight: 500;
  padding: 15px;
  text-align: left;
}

td {
  font-weight: 300;
  background-color: #ffffff;
  padding: 15px;
}

#projects-table{
  border-spacing: 0 10px;
}

/* end of TABLE */

/* BUTTON : NEW PROJECT*/
.btn-projects {
  padding: 15px 10px;
  background-color: #D0E2B0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  font-size: 12px;
}

.btn-projects:hover {
  background-color: #EBF4DE;
  font-size: 12px;
}

.fas {
  padding: 0 10px;
}

/* end of BUTTON */

/* BUTTON : BACK TO PROJECTS*/
.btn-back{
  padding: 15px 10px;
  background-color: var(--offWhite);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
  border: none;
  border-radius: 5px;
  float: left;
  cursor: pointer;
  font-size: 13px;
}
a.btn-back:hover{
  font-weight: 600;
}

/* end of BUTTON */

/* BUTTON : CLOSE MODAL*/
.btn-modal-close{
  float: right;
  background-color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
}


.fa-times {
  width: 30px;
  height: auto;
}
/* end of BUTTON */

/* PROJECTS-MENU */
.menu-vertical {
  width: 200px;
  float: left;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  margin-top: 10%;
}

.menu-vertical a {
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  border-radius: 5px;
}

.menu-vertical a:hover {
  background-color: #E0E0E0; /* Dark grey background on mouse-over */
  font-weight: 500;
}

.menu-vertical a.active {
  background-color: #D0E2B0;
  font-weight: 500;
}

/*MODAL*/
.modal {
  padding-left:10px;
  text-align: center;

}




