.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  vertical-align: middle;

  .content {
    display: flex;
    flex-direction: column;
    p {
      margin-bottom: -5%;
    }

    .login-form {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .login-form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        height: fit-content;

        input {
          padding: 12px 20px;
          margin-top: 6px;
          min-width: 18em;
          height: 40px;
          padding: 0px 10px;
          font-size: 16px;
          background-color: var(--offWhite);
          border: 0;
          border-radius: 4px;
          margin-bottom: 15px;
          transition: all 250ms ease-in-out;
          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px var(--mainGreen);
          }
        }

        span.select::after,
        span.select::before {
          margin-top: 1px;
        }

        select {
          padding: 12px 20px;
          margin-top: 6px;
          min-width: 18em;
          height: 40px;
          padding: 0px 10px;
          font-size: 16px;
          background-color: var(--offWhite);
          border: 0;
          border-radius: 4px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;
          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px var(--mainGreen);
          }
        }

        p {
          margin: -6% 0;
        }
      }
      p {
        margin-top: 2%;
      }
    }
  }
  .login-footer {
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

//Button
.btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: var(--mainGreen);
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #4e864e;
  }
  &:focus {
    outline: none;
  }
}

//Login Main Container
.login {
  margin: auto;
  width: 30em;
  height: 46em;
  min-height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 17px 10px;
    //transition: transform 200ms ease-in-out;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    background-color: var(--mainGreen);
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    &.right {
      right: -40%;
      align-items: flex-end;
      &:hover {
        right: -45%;
      }
    }
    &.left {
      right: 40%;
      align-items: flex-start;
      &:hover {
        right: 45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      vertical-align: middle;
    }
  }
}

//registration confirmed modal
.auth-modal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: white;
  border-radius: 10px;
  height: 300px;
  width: 450px;
  z-index: 999;
}

.auth-modal-header {
  justify-content: center;
  color: black;
  padding: 10% 5% 2% 5%;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.auth-modal-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  vertical-align: middle;
  margin: auto;
}
