.customize-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customize-header div {
  align-items: center;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: flex;
  margin: auto;
}

.customize-header h5 {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
}

label {
  display: block;
}

.btn-orders {
  background-color: var(--offWhite);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  margin-left: auto;
}

/*TABLE IN MODAL */

.modal-list {
  width: 100%;
  overflow: scroll;
}

.modal-list tr {
  border-bottom: 1px solid grey;
  border-collapse: collapse;
}

.modal-list td {
  vertical-align: middle;
  left: 50px;
}

td.o-modal-img {
  width: 20%;
}
td.o-modal-name {
  width: auto;
}

td.o-modal-remove {
  width: 20%;
}

/* BUTTONS FOOTER IN MODAL */

.modal-btns-footer {
  background-color: #f4f4f4;
  position: sticky;
  bottom: 0;
  padding: 20px;
  width: 100%;
  text-align: center;
}
.orders-btn-close {
  margin: auto;
  width: 20%;
  background-color: #e5e5e5;
  border: none;
  padding: 15px;
  cursor: pointer;
  color: var(--mainBlack);
  border-radius: 5px;
  font-weight: 400;
}

.orders-btn-save {
  margin-left: 10px;
  width: 40%;
  background-color: #3a83f7;
  border: none;
  padding: 15px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.orders-btn-save:hover {
  background-color: #6ba3fa;
}

.orders-btn-close:hover {
  background-color: #bebbbb;
}

/*END OF MODAL*/
