.customize-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customize-header div {
  align-items: center;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: flex;
  margin: auto;
}

.customize-header h5 {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
}

label {
  display: block;
}

.btn-orders {
  background-color: var(--offWhite);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  margin-left: auto;
}

/*TABLE IN MODAL */

.modal-list {
  width: 100%;
  overflow: scroll;
}

.modal-list tr {
  border-bottom: 1px solid grey;
  border-collapse: collapse;
}

.modal-list td {
  vertical-align: middle;
  left: 50px;
}

td.o-modal-img {
  width: 20%;
}
td.o-modal-name {
  width: auto;
}

td.o-modal-remove {
  width: 20%;
}

/* modal content */
.project-plants-modal {
  width: 800px;
  height: 500px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.project-plants-modal h1 {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}
 
.item:last-child {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn {
  display: inline-block;
  cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 18px;
}

.plant-img {
  margin-right: 60px;
  width: 100px;
  height: 90px;
}

.plant-img img {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}
 
.description {
  padding-top: 10px;
  margin-right: 30px;
  width: 200px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

@media (max-width: 800px) {
  .project-plants-modal {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .plant-img {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .plant-img img {
    width: 50%;
  }
  .plant-img,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}


/* BUTTONS FOOTER IN MODAL */

.modal-btns-footer {
  margin-top: 30px;
  background-color: #f4f4f4;
  position: sticky;
  bottom: 0;
  padding: 20px;
  width: 100%;
  text-align: center;
}
.orders-btn-close {
  margin: auto;
  width: 20%;
  background-color: #e5e5e5;
  border: none;
  padding: 15px;
  cursor: pointer;
  color: var(--mainBlack);
  border-radius: 5px;
  font-weight: 400;
}

.orders-btn-save {
  margin-left: 10px;
  width: 40%;
  background-color: #3a83f7;
  border: none;
  padding: 15px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.orders-btn-save:hover {
  background-color: #6ba3fa;
}

.orders-btn-close:hover {
  background-color: #bebbbb;
}

/*END OF MODAL*/
