@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");

.c-hero {
  padding-top: clamp(32px, 6.7349926794vw, 92px);
  padding-bottom: clamp(32px, 6.7349926794vw, 92px);
  color: var(--mainGrey);
}

.c-txt--hero {
  font-size: clamp(32px, calc(1rem + 4.5387994143vw), 80px);
  font-weight: 600;
  max-width: 22ch;
  line-height: 1.15;
  margin: 0;
}

.c-txt--hero-p {
  font-size: clamp(15px, calc(1rem + 1.9033674963vw), 44px);
  font-weight: 200;
  letter-spacing: -0.03em;
  max-width: 40ch;
  line-height: 1.2;
  margin: 16px 0 0;
}

.c-txt--h3{
  font-size:22px;
  font-weight:600;
  line-height:1.15;
  letter-spacing: -.03em;
}

.column-img{
  width: 90%;
  height: auto;
}
.c-container {
  text-align: inherit;
}

.c-img {
  display: block;
  width: 100%;
  height: auto;
  /*vertical-align: middle;*/
}

.c-img--portrait {
  display: block;
  height:100%;
  width:auto;
  /*vertical-align: middle;*/
}

.c-section {
  padding-bottom: 50px;
  width: 100%;
}


.c-section img {
  display:block;
  max-height: 15em;
}

.c-section--p{
  max-width:inherit;
}

.c-section--container{
  max-width:100%;
}

.quote{
  background-color: #E6EBE5;
}
.u-mrg--reset > :first-child,
dt:first-child {
  margin-top: 0;
}

.u-mrg--reset > :last-child {
  margin-bottom: 0;
}

.partner-field {
  margin-bottom: 2px;
  font-size: clamp(24px, calc(1rem + 3.3674963397vw), 64px);
  line-height: 1.15;
  letter-spacing: -0.03em;
  font-weight: 600;
}

.c-txt--sectiontitle {
  font-size: clamp(24px,calc(1rem + 3.3674963397vw),64px);
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -0.03;
}

.c-txt-sectiontitle--sm {
  font-size: clamp(18px, calc(1rem + 1.9033674963vw), 44px);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.03;
}

.c-txt--punchline {
  font-size: clamp(18px, calc(1rem + 1.9033674963vw), 44px);
  font-weight: 300;
  line-height: 1.15;
  letter-spacing: -0.03em;
  max-width: 35ch;
  margin-bottom: clamp(24px, 5.8565153734vw, 80px);
}

.c-txt-punchline--sm {
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 1.8;
}

.o-container {
  margin-left: 5%;
  margin-right: 2%;
  max-width: calc(1200px + 2 * 20px);
  text-align: inherit;
}

.o-container--lrg {
  margin-top:8%;
  margin-bottom:8%;
  max-width: calc(1200px + 2 * 20px);
  text-align: inherit;
  padding:2%;
}

.o-container--sm{
  padding:2%;
  width:100%;
  margin:auto;
  height:100%;
}

.bckgd-white{
background-color: white;
}

.grid-container{
  padding-left: 20px;
  padding-right: 20px;
  margin:auto;
  max-width: calc(1200px + 2 * 20px);
  text-align: inherit;
}



.o-card-media {
  -webkit-box-align: start;
  align-items: start;
}

.o-card {
  --o-card--gap: 20px;
  display: grid;
  grid-gap: var(--o-card--gap);
  grid-template-columns: auto 1fr;
}

.c-icon img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  width: 70px;
}

.c-txt--sectionsubtitle {
  font-size: clamp(18px, calc(1rem + 1.0248901903vw), 32px);
}

.c-section--cta {
  padding-top: clamp(24px, 8.1991215227vw, 112px);
  text-align: center;
}

.c-section--pad-vh{
  padding-top: 20vh;
}

.u-txt--center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.attachment-company_into {
  display: inline-block;
  max-width: 60%;
  height: auto;
  vertical-align: middle;
}

.c-portrait img {
  width: 20%;
  height: auto;
  display: inline;
}

.hero-img-overlay {
  position: absolute;
  bottom: 3%;
  right: 5%;
  height: 15%;
  width: 100%;
}

.text-overlay {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.btn-transp {
  background: none;
  font-size: 15px;
  border: none;
  margin-bottom: 10px;
  margin-top:30px;
}

.btn-icon {
  padding: auto;
  margin: auto;
  /*transform:rotate(90deg);*/
  /*other way: transform:rotate(270deg); */
}

.btn-is-icon{
  height:20px;

}


.featured-concept--h1 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  
}

.move-to-bottom{
  position: absolute;
  bottom:10px;
}

/*GRIDS*/

/*HORIZONTAL GRID*/
.c-grid--1x {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
  width: 100%;
}

.grid--1x-vertical{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap:0.5em;
  width: 30%;
}

.no-scroll-grid {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}

.item-portrait {
  border: none;
  background-color: none;
}

.item-portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HORIZONTAL SCROLL 
.h-scroll {
    display: grid;
    grid-gap:calc(var(--gutter)/2);
    grid-template-columns: 10px repeat(6, calc(30% - 40px));
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(20% - var(--gutter)*2);
    overflow-x:scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));

    /* ONLY THIS COULD ALSO WORK: 
    display: grid;
    grid-gap:calc(var(--gutter)/2);
    grid-auto-flow: column;
    overflow-x:scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
}

.h-scroll:before,
.h-scroll:after {
    content: '';
    width:10px;
}

.h-scroll ul{
    list-style:none;
    padding:0;
}

.c-grid--1x > *{
    grid-column: 2 / -2;
}

.c-grid--1x > .full {
    grid-column: 1 / -1;
}

.h-scroll > li,
.item-portrait {
    scroll-snap-align: center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height:auto;
}


END OF HORIZONTAL SCROLL*/

/*END HORIZONTAL GRID*/

/* FLEXIBLE GRID */

.c-grid--flexible {
  column-width: 18em;
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  column-gap: 1em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

.grid-flex-item {
  display: inline-block;
  padding: 0.25rem;
  width: 100%;
}

.grid-flex-content {
  position: relative;
  display: block;
}

/*END FLEXIBLE GRID*/

.c-grid--founders {
  grid-gap: clamp(24px, 5.270863836vw, 72px);
  display: grid;
}

@media (min-width: 768px) {
  .c-grid--founders {
    grid-template-columns: 1fr 2.4fr;
  }
}

.c-grid--founders > div,
body,
html {
  text-align: left;
}

.c-grid--2x1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}



@media screen and (min-width:650px){

  .grid-item1 {
    grid-row: 1;
    grid-column: 1;
  }

  .grid-item3 {
    grid-row: 2;
    grid-column: 1;
  }
}

.grid-item1--equal{
  grid-row:1;
  grid-column:1;
}

.grid-item2--equal {
  grid-row:1;
  grid-column:2;
}

/*
@media (min-width: 768px) {
  .c-grid--2x1 {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0px;
  }
  .c-grid--2x1 > div.is-right {
    -webkit-box-ordinal-group: 3;
    order: 2;
  }
}*/

.c-grid--2x3{
  display: grid;
  grid-gap: clamp(24px,2.9282576867vw,40px);
}


@media (min-width: 768px) {
  .c-grid--2x3 {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0px;
  }
  .c-grid--2x3 > div.is-right {
    -webkit-box-ordinal-group: 3;
    order: 2;
  }
}





.c-grid--4x1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2em;
}



.c-grid--3x3fixed{
  display:grid;
  grid-gap:clamp(24px,2.9282576867vw,40px);
}

@media (min-width:1150px){
  .c-grid--3x3fixed{
    grid-template-columns:repeat(3, 1fr);
  }
}

@media (max-width:1150px){
  .c-grid--3x3fixed{
    grid-template-columns:repeat(2, 1fr);
    max-width:50%;
  }
}

@media (max-width:800px){
  .c-grid--3x3fixed{
    grid-template-columns:repeat(1, 1fr);
    max-width:30%;
  }
}

.c-grid--fill{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 0.5rem;
  scroll-snap-type: mandatory;
}

.c-grid--fill > div {
  background: white;
  padding: 1rem;
}


.c-grid--fill > div::before, 
.c-grid--fill > div > img {
  grid-area: 1 / 1 / 2 / 2;
}

.c-grid--fill > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*GRID 2x2 */
.c-grid--2x2 {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  width: 100%;
  grid-gap: 110px;
  /*grid-gap:clamp(24px,2.9282576867vw,40px);*/
}

@media (min-width: 768px) {
  .c-grid--2x2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
  }
}

/* plantlist */
.plantlist {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  width: 100%;
  grid-gap: 10px 280px;
  /*grid-gap:clamp(24px,2.9282576867vw,40px);*/
}

@media (max-width: 1100px) {
  .plantlist {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    grid-gap: 10px 200px;
  }
}

.grid-item0 {
  grid-column: 1 / 3;
  grid-row:1;
}


.grid-item1 {
  grid-column: 1;
  grid-row: 1;
}

.grid-item1, .grid-item3 {
  justify-content: center;
  align-content: center;
}

.grid-item3-vertical{
  grid-column: 3;
  grid-row: 1 / 3;
}
.grid-item2 {
  grid-column: 1;
  grid-row: 2;
}

.grid-item3 {
  grid-column: 2;
  grid-row: 1;
}

.grid-item4 {
  grid-column: 2;
  grid-row: 2;
}

.grid-item5 {
  grid-column: 1;
  grid-row: 3;
}

.grid-item6 {
  grid-column: 2;
  grid-row: 3;
}

.grid-item7 {
  grid-column: 1;
  grid-row: 4;
}

.grid-item8 {
  grid-column: 2;
  grid-row: 4;
}

.grid-item9{
  grid-column:3;
  grid-row:1;
}

.grid-item10{
  grid-column:3;
  grid-row:2;
}

.grid-item11{
  grid-column:4;
  grid-row:1;
}
.grid-item1-stretch{
  grid-column: 1 / 3;
  grid-row: 1;
}

.grid-item2-stretch{
  grid-column: 2 / 4;
  grid-row: 1;
}

.grid-item2-stretch1{
  grid-column: 1 / 3;
  grid-row:2 / 3;
}

.grid-item2-stretch2{
  grid-column: 2 / 4;
  grid-row: 2;
}

.grid-item2x2 {
  grid-column: 1 / 3;
  grid-row:2 / 3;
}


/*END OF GRID */


.c-grid--span {
  display: grid;
  grid-gap: clamp(24px, 2.9282576867vw, 40px);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto 0px;
}

.c-grid--span-item-a {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.c-grid--span-item-b {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}
.c-grid--span-item-c {
  grid-column: 3 / 5;
  grid-row: 2 / 4;
}


/*END OF GRIDS*/


/* CONTACT FORM */

.c-splitlines{
  margin-top: 80px;
  margin-bottom: 80px;
}

.c-splitlines--h2{
  width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #ddd; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
}

.c-splitlines--h2 span{
  background-color: #fff;
  padding:0 10px;
}

.o-form__group {
  display:block;
  margin-bottom: 2em;
  width:60%;
}

.o-form__group-full {
  display:block;
  margin-bottom: 2em;
  width:100%;
  margin-right:2em;
}

.o-form__heading {
  margin-bottom: 1em;
  padding-top: 6px;
  position: relative;
  font-weight:600;
  font-size:22px;
  letter-spacing: -.03em;
  color:var(--mainGrey);
}

.o-form__matrix-2{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  grid-row-gap: 24px;
  grid-column-gap: 24px;
}

.o-form__control{
  width:100%;
  background-color: white;
  border:1.5px solid lightgrey;
  font-size: 17px;
  font-family: inherit;
  font-weight: 300;
  padding:14px;
  line-height: normal;
}


.o-form__group textarea {
  margin-top: 0px;
  margin-bottom: 0px;
  height:116px;
  overflow:auto;
  resize:vertical;
  -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-weight:400;
    font-family: inherit;
}

.form-control-wrap textarea:focus, input:focus {
  border-radius: 0px;
  outline:none !important;
  border:1px solid #0947c1;
  box-shadow: 0 0 10px #0000;
  text-align: left;
}

.gdpr-contact-consent, .subscribe-contact {
  font-size:14px;
  font-weight: 300;
  color: grey;
}

.gdpr-contact-consent label, .subscribe-contact label{
  position: relative;
  padding-left:2.5em;
  margin-top: 5px;
  text-align: left;
}

.gdpr-contact-consent label [type=checkbox], .subscribe-contact label [type=checkbox] {
  position: absolute;
  left:0;
  width:1.5em;
  height:1.5em;
}



/*SUBMIT BTN VALID*/
.o-btn{
  padding:15px;
  width:auto;
  font-size: 15px;
  display: inline-block;
  border:0;
  border-radius:3px;
  line-height: 1;
  font-family: inherit;
  cursor: pointer;
  transition:all .2s;
  text-transform: uppercase;
  background-color: var(--mainGreen);
  color: white;
  font-weight: 600;
  padding-left:5%;
  padding-right:5%;
}

.o-btn:hover{
  background-color: var(--hoverGreen);
  color:white;
}
.o-btn[disabled]{
  background:#ccc;
  cursor:not-allowed;
}


/*ON HOVER'S */

.zoom-on-hover {
  max-width: 100%;
  max-height: auto;
  transition: transform 0.3s;
  border: none;
  background: none;
}
.zoom-on-hover:hover {
  -ms-transform: scale(0.2); /* IE 9 */
  -webkit-transform: scale(0.2); /* Safari 3-8 */
  transform: scale(1.1);
  /*background: white;
    opacity: 0.8;*/
  cursor: pointer;
}

.img-wrap-rooftop{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/landscape--rooftop_redigert.png);
  background-size: cover;
  width: 90%;
  height: 100%;
  position: relative;
  float: left;
  color:white;
  font-size: 2em;
}

.img-wrap-rooftop:hover, .img-wrap-rainbed:hover, .img-wrap-indoor:hover{
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
  /*background: white;
    opacity: 0.8;*/
  cursor: pointer;
  transition: 0.5s;
}

.img-wrap-rainbed{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/leaf_rooftop_4_redigert.jpg);
  background-size: cover;
  width: 90%;
  height: 100%;
  position: relative;
  float: left;
  color:white;
  font-size: 2em;
}

.img-wrap-indoor{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/landscape--indoor_redigert.jpg);
  background-size: cover;
  width: 90%;
  height: 100%;
  position: relative;
  float: left;
  color:white;
  font-size: 2em;
}

.u-txt--middle{
  position:absolute;
  top:70%;
  bottom:30%;
  left:10%;
}



.img-descr{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
  z-index: 1;
  padding-top:30%;
  padding-left:5%;
}

.img-wrap:hover .img-descr {
  visibility: visible;
  opacity: 1;
  
}


.img-overlay {
  opacity: 0.6;
  background-color: white;
}
/*
.white-on-hover{
    position:relative;
}
.white-on-hover:hover .img-overlay{
    opacity:1;
}

*/

.text-overlay{
  font-size: 2em;
  position: absolute;
  top:50%;
  bottom:50%;
  left:50%;
  right:50%;
  width:100%;
  color:var(--mainGrey);
  background:#ffffff; /* Fallback color */
  background: rgba(255, 255, 255 0.5);
}


/*END ON HOVER'S */

/* SPECIFIC STYLING */

.position-relative {
  position: relative;
}

.is-centered {
  -webkit-box-align: center;
  align-items: center;
}

.no-float {
  float: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.justify-right {
  display: flex;
  justify-content: right;
}
.strong--m {
  font-size: 18em;
}

.left-margin{
  margin-left:3%;
}

.u-mrg--reset p {
  margin: 0 0 1em;
  line-height: calc(1ex / 0.32);
}

.u-mrg--txt1 {
  margin-top: 24px;
}

.u-mrg--txt2 {
  margin: 0 0 0 24px;
}

.u-mrg--txt3 {
  margin-top: 15px;
}

.u-mrg--txt4 {
  margin-top: clamp(24px, 5.8565153734vw, 80px);
}

.u-mrg--txt5 {
  margin-top: 100px;
}

.background-grey {
  background-color: var(--offWhite);
}

.background-white {
  background-color: white;
}

.background-green {
  background-color: var(--mainGreen);
}

.c-mrg--bottom {
  margin-bottom: clamp(24px, 5.8565153734vw, 80px);
}

.c-mrg--bottom\/4 {
  margin-bottom: 16px;
}

.c-mrg--top\/3 {
  margin-top: clamp(24px,2.3426061493vw,32px);
}

.c-mrg--top {
  margin-top: 24px;
}

.c-mrg--top-sm {
  margin-top: 10px;
}

.c-section--padding-top-24 {
  padding-top: 24px;
}

.padding-sm {
  padding: 5%;
}

.padding-top {
  padding-top: 10%;
}

.padding-section {
  padding: 1% 5% 1% 5%;
}

.right {
  position: absolute;
  right: 10%;
}

.margin-left {
  margin-left: 8%;
}

.italic {
  font-style: italic;
}
.is-white{
  color:white;
}

.ibm-italic {
  font-family: 'IBM Plex Serif', serif;
}

.flip-img{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* END SPECIFIC STYLING */

/* ----- OLD CSS FOR WHY.JS------

.float-container {
   display:grid;
   grid-template-columns: 35% 65%;
}

.why-h1{
    color:black;
    font-size: 40px;
}


.why-name{
    font-size: 50px;
    color: white;
    padding: 3%;
}
.why-desc{
    font-size: 20px;
    color: white;
    padding: 3%;
    width: 90%;

}
.why-reasons{
    text-align: left;
    position: relative;
    left: 10%;
    width: 80%;
    background-color: var(--offWhite);
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
}
.five-reasons{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 3%;
}
.reasons{
    font-size: 20px;
    font-weight: bold;

}
.why-inspo{
    font-weight: bold;
    font-size: 30px;
    position: relative;
    left: 40%;
    padding-top: 3%;
}
.why-inspo-desc{
    font-size: 20px;
    position: relative;
    text-align: center;
    left: 25%;
    width: 50%;
    padding-bottom: 2%;

}
.inspo-images {
    border: 3px solid #fff;
    padding-top: 0%;
    height: 500px;
    padding-left: 10%;
}

.inspo-image1 {
    width: 45%;
    float: left;
    padding: 2%;
    height: 100%;
    
}
.inspo-h{
    position: relative;
    left: 45%;
    font-size: 20px;
}

*/