/* Hero */
.defaultHero {
  min-height: calc(100vh - var(--nav-size));
  background: url("../images/defaultBackground.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End of Hero */
/* Banner */
.errorBanner {
  display: inline-block;
  color: var(--mainWhite);
  width: 100%;
  height: 100%;
  min-height: calc(100vh - var(--nav-size));
  padding: 2rem 1rem;
  text-align: center;
  background: #474646; /* fallback colour. Make sure this is just one solid colour. */
  background: rgba(54, 54, 54, 0.8);
}

.errorBanner h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 15rem;
}

.errorBanner div {
  width: 10rem;
  height: 5px;
  background: var(--mainGreen);
  margin: 1.7rem auto;
}

.banner {
  display: flex;
  color: var(--mainWhite);
  width: 100%;
  height: 100%;
  min-height: calc(100vh - var(--nav-size));
  padding: 2rem 1rem;
  text-align: left;
  background: #474646; /* fallback colour. Make sure this is just one solid colour. */
  background: rgba(54, 54, 54, 0.3);
}

.banner h1 {
  font-size: 3rem;
  text-align: center;
  margin: auto;
}

.top-left {
  top: 0;
  left: 0;
  width: 60%;
}

.top-left img {
  max-width: 100%;
  max-height: 100%;
}

.bottom-right {
  position: absolute;
  left: 40%;
  top: 60%;
  width: 61%;
  padding-right: 7%;
}

.bottom-right h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 20px;
  display: inline;
}

.bottom-right img {
  float: left;
  width: 10px;
  height: 10px;
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .bottom-right {
    margin-top: -80px;
  }
  .bottom-right h2 {
    font-size: 24px;
  }
  .front-btn-1 {
    padding: 2px;
    width: 100px;
    font-size: x-small;
  }
  .front-btn-2 {
    padding: 2px;
    width: 80%;
    font-size: small;
  }
}
@media screen and (min-width: 676px) {
  .bottom-right {
    margin-top: -10px;
  }
  .front-btn-1 {
    font-size: small;
  }

  .front-btn-2 {
    font-size: medium;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .bottom-right h2 {
    font-size: 30px;
  }
  .front-btn-1 {
    font-size: large;
  }

  .front-btn-2 {
    font-size: large;
  }
}

.front-btn-1 {
  padding: 20px;
  width: 30%;
}

.front-btn-2 {
  padding: 20px;
  width: 30%;
}
/* end of banner */

.imagebox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.imagebox span {
  padding-left: 3%;
  padding-top: 50%;
  padding-right: 10%;
  position: relative;
  bottom: 0px;
}

.image {
  height: 550px;
  width: 850px;
  overflow: hidden;
  padding-top: 8%;
  padding-left: 6%;
}

.imagebox h1 {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  font-size: 30px;
}

.bd-notification {
  padding-top: 40px;
  margin: 50px;
}
.box {
  padding-left: 3%;
  padding-top: 50%;
  padding-right: 10%;
  position: relative;
  bottom: 0px;
}

.image1 {
  display: block;
  height: 550px;
  width: 1850px;
  padding-top: 8%;
  padding-left: 6%;
}

.fronttext {
  position: absolute;
  bottom: 20%;
  left: 2%;
  font-size: 50px;
  color: white;
}
.frontdesc {
  position: absolute;
  bottom: 10%;
  left: 2%;
  font-size: 30px;
  color: white;
  width: 40%;
}

/*----------------------
Smooth Scroll --------*/

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.homepage {
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  height: 100vh;
}

.front-container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}

section h1{
  color:white;
  font-size:80px;
  font-weight: 700px;
  font-style: italic;
}

.action-btn{
  background: none;
  border: none;
  color: white;
  font-size:25px;
  font-weight: 700px;
  font-style: italic;
  padding-right:5%;
  margin-left: auto;
  right:0;
  position: absolute;
  margin-top:5%;
  margin-right:5%;
  background-color: rgba(54, 54, 54, 0.3);
  padding: 2%;
}

.cat-descr{
  color: white;
  font-style: italic;
  line-height:1.2em;
}

.top-container{
  position:absolute;
  bottom:5%;
}


/* SECTIONS FRONT PAGE*/

.front-container section {
  width: 100%;
  height: 100vh; /*for all browser sizes*/
  scroll-snap-align: center;
}

section p {
  font-size: 1rem;
}


section#first {
  background-image: url("../images/mainBackground.jpeg");
  
  background-color: rgba(54, 54, 54, 0.3);
  position:relative;
  background-size: cover;
  /*background: :url() no-repeat center center/ cover;*/
}

section#second {
  background-image: url("../images/landscape--rooftop.jpg");
  background-size: cover;
  position:relative;
}

section#third {
  background-image: url("../images/landscape--rainbed2.jpg");
  background-size: cover;
  position:relative;
}

section#fourth {
  background-image: url("../images/landscape--biodiversity.jpeg");
  background-size: cover;
  position:relative;
}

section#fifth {
  background-image: url("../images/portrait--indoor2.jpg");
  background-size: cover;
  position:relative;
}

/*END SECTIONS */


.flex-items{
  display:flex;
}

.logo-large {
  width:40%;
  display: block;
  margin-left: 0;
  margin-right: auto;
}


.hero-f-container{
  width: 50%;
  margin-left: 3%;
  margin-right: auto;
  color:white;
}

.hero-f-subcontainer p{
  font-size: 0.9rem;
  color:white;
  font-weight: 500;
}

.hero-f-subheader{
  font-size: 25px;
  word-break:break-word;
}

.hero-f-subcontainer{
  color: white;
  margin-left:3%;
  margin-right:auto;
  margin-top:4%;
}

.hero-f-subcontainer button {
  font-size: 0.8rem;
  padding-right:2%;
  padding-left:2%;
  padding-top:0.5%;
  padding-bottom:0.5%;
  font-weight:300;
  border-radius: 5px;
  background: none;
  border: 0.2px solid white;
  color: white;
}

.arrowDown {
  width:3%;
  display:block;
  margin-right: auto;
  margin-left: auto;
  position:absolute;
  bottom:15%;
  left:50%;
}