.form-wrapper{
  display:grid;
  grid-template-columns: 40% 60%;
  width:90%;
  padding:3%;
  margin:5%;
  grid-auto-rows: minmax(200px, auto);
  background-color: white;
  border: 4px solid var(--mainGreen);
}

.form-box1{
padding: 5%;
}

.form-box2{
  padding-left:5%;
  width: 80%;
}

.box2-h1 {
  font-size: 35px;
  font-weight: bold;
  color: var(--mainGrey);
}

.box2-p {
  font-size: 18px;
  color: var(--mainGrey);
}

.box2-fields{
  padding-top: 5%;
  padding-bottom: 5%;
}

.partner-field {
  padding-bottom: 3%;
}

.partner-field input{
  height:8vh;
}

a[href="terms-and-conditions"] {
  color: var(--mainGrey);
  vertical-align: middle;
  font-size: 15px;
  font-weight:bold;
}

/* The checkbox container */
.checkbox-container {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 15px;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border:1px solid var(--mainGreen);
  border-radius: 5px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
  
}

.checkbox-container .checkmark:after {
  left: 10px;
  top: 1px;
  width: 8px;
  height: 20px;
  border: 3px solid #799779;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

.box2-btn {
  width: 20%;
  padding: 10px;
  background-color: var(--mainGreen);
  color:white;
  font-weight: bold;
  border: none;
  font-size: 18px;
  float: right;
  cursor: pointer;
  border-radius: 5px;
}

.box2-btn:hover{
  background-color: #6C836C;
  color:white;
}


@media only screen and (max-width:780px){
  .form-wrapper{
    grid-template-columns: 1fr;
    grid-template-rows:0vh 95vh;
  }
  .form-box1 img{
    width:100%;
  }
  .form-box2 {
    background-color: rgba(255, 255, 255, 0.6);
    width:100%;
    padding:10%;
    padding-top:15%;
    height:100%;
    font-size:50%;
  }

  .box2-fields{
    padding-top:20%;
  }
  .box2-btn{
    position:absolute;
    z-index:10;
    float:right;
  }
  .partner-field input{
    background-color: rgba(255, 255, 255, 0.8);
  }
  .checkbox-container{
    padding-left: 40px;
  }
  
  .checkmark{
    background-color:white;
  }
}

@media only screen and (max-width:630px){
  .form-wrapper{
    grid-template-columns: 0fr 1fr;
    grid-template-rows:0vh 80vh;
  }
  .form-box1 img{
    width:0px;
    height:0px;
  }
  .form-box2{
    padding-top:10%;
  }

  .box2-fields{
    padding-top:10%;
  }
} 


.inspo-images {
  border: 3px solid #fff;
  padding-top: 0%;
  height: 500px;
  padding-left: 10%;
}

.inspo-image1 {
  width: 45%;
  float: left;
  padding: 2%;
  height: 100%;
}
.inspo-h {
  position: relative;
  left: 45%;
  font-size: 20px;
}
