.p-info {
  padding-bottom: 1%;
  padding-left: 7%;
}

.pf {
  display: block;
}
label {
  display: block;
}
.header {
  padding-left: 7%;
}

/*---------------*/
.plant {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}

.plant-name {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  background-color: var(--icon-gray);
  color: var(--bg);
  text-transform: capitalize;
  line-height: 60px;
  height: 60px;
  text-align: center;
}

.plant-name p {
  display: inline-block;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  line-height: normal;
  vertical-align: middle;
  width: 100%;
}

.plant-img-container {
  height: 100%;
  position: relative;
}

.plant-img-container img {
  height: 100%;
  width: 60%;
  display: block;
  transition: var(--mainTransition);
}

.badge-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 30%;
  transition: var(--mainTransition);
  margin-top: 2px;
  opacity: 1;
  transition: all 0.3s linear;
}

.badge-top img {
  position: absolute;
  top: 5px;
  right: 5px;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 0;
  transition: all 0.3s linear;
}

.plant-link {
  position: absolute;
  bottom: 10px;
  right: 0;
  opacity: 0;
  transition: all 0.3s linear;
}

.featureList {
  position: absolute;
  top: 5px;
  right: 0;
  transition: all 0.3s linear;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  opacity: 0;
}

.featureList-center {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15px, 1fr));
  grid-row-gap: 5px;
  grid-column-gap: 15px;
  padding: 0 40px;
  height: 10%;
  flex-wrap: wrap;
  width: 150px;
}

.plant:hover {
  box-shadow: var(--darkShadow);
  background: rgba(255, 255, 255, 0.4);
}

.plant-img-container:hover .plant-name{
  box-shadow: var(--darkShadow);
}

.plant-img-container:hover img {
  opacity: 0.4;
}

.plant-img-container:hover .plant-link {
  opacity: 1;
}

.plant-img-container:hover .badge-top {
  opacity: 0;
}

.plant-img-container:hover .featureList {
  opacity: 1;
}

/*plant list */
.plantList {
  padding: 0.5rem 0;
}
.plantList-center {
  width: 80vw;
  margin: 0 auto 0 20%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 5rem;
  grid-column-gap: 40px;
  padding: 40px;
  height: 30%;
  flex-wrap: wrap;
}
@media screen and (max-width: 812px) {
  .plant {
    width: 300px;
  }
  .plantlist-center {
    margin: 0 auto;
  }
}
@media screen and (min-width: 776px) {
  .plantlist-center {
    width: 80vw;
  }
}
@media screen and (min-width: 992px) {
  .plantlist-center {
    width: 85vw;
    max-width: 1170px;
  }
}

/* filters */
/*.filter-container {
  height: auto;
  width: 20vw;
  position: fixed;
  padding: 0.5rem 0;
  margin: 0 20% 0 0;
  padding-left: 2.5%;
  background-color: var(--offWhite);
  overflow-x: hidden;
  padding-top: 20px;
}

.filter-container {
  padding: 5rem 0;
}

*/
.filter-form {
  width: 100%;
  margin: 1rem 0 0 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}


.filter-checkbox{
  width: 20px;
  height: 20px;
}