.hero-container {
  background: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagebox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.image {
  height: 550px;
  width: 850px;
  overflow: hidden;
  padding-top: 8%;
  padding-left: 6%;
}
.span-imagebox {
  padding-left: 3%;
  padding-top: 50%;
  padding-right: 10%;
  position: relative;
  bottom: 0px;
}

/*FRONT-HEADER*/
.hero-header {
  max-height: calc(100vh - var(--nav-size));
  position: relative;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: #3e3d3d; /* fallback colour. Make sure this is just one solid colour. */
  background: -webkit-linear-gradient(rgba(165, 154, 148, 0.8));
}

.hero-background {
  object-fit: cover;
  opacity: 0.6;
}

.top-left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60%;
}

.bottom-right {
  position: absolute;
  left: 40%;
  top: 60%;
  width: 61%;
  padding-right: 7%;
}

.hero-header-text h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}

.hero-asterisk {
  float: left;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.frontoption {
  margin-top: 20px;
}

.front-btn-1 {
  padding: 20px;
  width: 30%;
}

.front-btn-2 {
  padding: 20px;
  width: 30%;
}

/*END FRONT-HEADER*/

.h1 {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  font-size: 30px;
}
button {
  margin-right: 20px;
}
.bd-notification {
  padding-top: 40px;
  margin: 50px;
}
.box {
  padding-left: 3%;
  padding-top: 50%;
  padding-right: 10%;
  position: relative;
  bottom: 0px;
}

.image1 {
  display: block;
  height: 550px;
  width: 1850px;
  padding-top: 8%;
  padding-left: 6%;
}

.fronttext {
  position: absolute;
  bottom: 20%;
  left: 2%;
  font-size: 50px;
  color: white;
}
.frontdesc {
  position: absolute;
  bottom: 10%;
  left: 2%;
  font-size: 30px;
  color: white;
  width: 40%;
}
