
.img-rooftop1{
    height: 600px;
}
.rooftop{
    position: relative;
    left: 3%;
    width: 1500px;
    height: 620px;
}
.rooftopinfo{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-gap: 3%;
    padding-top: 20px;
}
h5{
    font-size: 30px;
}
.similaricon{
    height: 190px;
    width: 310px;
    padding-top: 3%;
    padding-right: 3%;
}
.city{
    padding-top: 1%;
}
p{
    padding-bottom: 5%;
    padding-top: 2%;
}

.options{
    position: absolute;
    bottom: 0px;
    width: 42%;
}
.tilpass{
    padding-bottom: 20px;
}

