p{
    padding-bottom: 1%;
    padding-left: 7%;
}

.pf{
    display:block;
}
label{
    display:block;
    
}
h5{
    padding-left: 7%;
}


.filters{
    
    height: auto; 
    width: 18%; 
  position: fixed; 
  z-index: 1; 
  top: 28%; 
  left: 0%;
  padding-left: 2.5%;
  background-color: var(--offWhite); 
  overflow-x: hidden; 
  padding-top: 20px;
}

input{
    margin:2%;

}
.pn{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 20%;
    align-items: center;

}
.plants{
     /* Same as the width of the sidebar */
    padding: 40px;
    height: 30%;
    flex-wrap: wrap;
    
    
}
.plant{
    height: 200px;
    
}
.name{
    padding-left: 27%;
    align-items: center;
    
}
.check{
    position: absolute;
    top: 30%;
  left: 49%;
}
.orders{
    position: absolute;
    top: 18%;
  right: 5%;
  font-size: 20px;
 
}


/*MODAL*/


/* !THIS CHANGES ALL MODALS! */
.ReactModal__Overlay--after-open{
  background: rgba(0, 0, 0, 0.5) !important;
  z-index: 1000;
  color:black;
  position: fixed;
  display:fixed;
}

/* ORDER MODAL */
.modal-orders {
    background:white;
    display: block;
    float:right;
    margin:auto;
    width: 30%;
    height: 80%;
    padding-top: 20px;
  
  }
  
  .o-modal-content {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    z-index: 1;
    align-content: center;
    padding-right: 5%;
    padding-left: 5%;
  }
  
  .modal-project form {
    text-align: center;
    align-items: initial;
    justify-content: center;
  }
 
  
  .p-inputBox {
    width: 80%;
    margin: auto;
  }
  .p-lbl {
    float: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;
    font-size: 20px;
    padding-top: 15px;
    display: block;
    text-align: left;
    padding-bottom: 1%;
    color: var(--mainBlack);
  }
  
  input[type="text"] {
    padding: 1em;
    border-radius: 0.3em;
    border: 1px solid grey;
    box-sizing: border-box;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;
    margin: auto;
  }
  
  /*FLEX BOXES (PostNr & PostSted */
  
  .p-flex /* div PostNr & PostSted */ {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .p-classFlex {
    flex-basis: 48%;
  }
  
  .p-lblFlex {
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;
    font-size: 20px;
    display: block;
    text-align: left;
    float: left;
    padding-top: 15px;
    padding-bottom: 1%;
  }
  
  .p-input-inline /* input PostNr & PostSted */ {
    box-sizing: border-box;
    width: 100%;
  }
  
  /* BUTTON : CREATE PROJECT */
  .orders-btn{
    float: right;
    margin: auto;
    width: 40%;
    background-color: var(--mainGreen);
    border: none;
    padding: 15px;
    cursor: pointer;
    color: var(--mainBlack);
    border-radius: 5px;
    font-weight: 550;
  }
  
  /* BUTTON : HOVER CREATE PROJECT */
  .btn-modal-create-p:hover {
    background-color: var(--hoverGreen);
  }

  /*END OF MODAL*/