.float-container {
    border: 3px solid #fff;
    padding: 1%;
    height: 500px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 0%;
    height: 100%;
    
}
.why{
    background-color: #8ca68c;
    width: 100%;
    height: 100%;
}
.why-image{
    height: 100%;
    width: 100%;
}
.why-name{
    font-size: 50px;
    color: white;
    padding: 3%;
}
.why-desc{
    font-size: 20px;
    color: white;
    padding: 3%;
    width: 90%;

}
.why-reasons{
    text-align: left;
    position: relative;
    left: 10%;
    width: 80%;
    background-color: var(--offWhite);
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
}
.five-reasons{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 3%;
}
.reasons{
    font-size: 20px;
    font-weight: bold;

}
.why-inspo{
    font-weight: bold;
    font-size: 30px;
    position: relative;
    left: 40%;
    padding-top: 3%;
}
.why-inspo-desc{
    font-size: 20px;
    position: relative;
    text-align: center;
    left: 25%;
    width: 50%;
    padding-bottom: 2%;

}
.inspo-images {
    border: 3px solid #fff;
    padding-top: 0%;
    height: 500px;
    padding-left: 10%;
}

.inspo-image1 {
    width: 45%;
    float: left;
    padding: 2%;
    height: 100%;
    
}
.inspo-h{
    position: relative;
    left: 45%;
    font-size: 20px;
}