@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "./components/navbar/Dropdown.css";
@import "./components/Footer.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #bababa;
  --darkGrey: #838383;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --navbarBack: #f9f9f9;
  --bg: #242526;
  --bg-accent: #d3d3d3;
  --text-color: var(--mainBlack);
  --nav-size: 80px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
 
}

/* globals */
body {
  padding-top: 10px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 999;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

.features {
  padding-bottom: 3em;
}

.auth form {
  margin-top: 1em;
  max-width: 50%;
}

.buttons {
  margin-left: 1em;
}
/* end of globals */
/* Navbar */
.navbar {
  height: var(--nav-size);
  background-color: var(--navbarBack);
  position: fixed;
  padding: 0.75 2rem;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  z-index: 1;
}
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  padding: 5px;
  align-items: center;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.nav-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  /*additional stuff*/
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  display: flex;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--bg);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  border-bottom: 4px solid var(--bg);
  transition: all 0.2s ease-out;
}

@media screen and (min-width: 1190px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    padding-right: 20rem;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */
/*sidebar */
.sidebar-bars {
  --button-size: calc(var(--nav-size) * 0.3);
  width: var(--button-size);
  height: var(--button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 86ms;
  cursor: pointer;
}
.sidebar-bars:hover {
  filter: brightness(5.2);
}
.sidebar-bars svg {
  fill: var(--bg);
}
.side-menu {
  background-color: var(--navbarBack);
  width: 500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 200;
}
.side-menu.active {
  right: 0;
  transition: 350ms;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  z-index: 200;
}
.side-menu-items {
  width: 100%;
}
.sidebar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 0px;
  list-style: none;
  height: 60px;
  direction: rtl;
}
.sidebar-text a {
  text-decoration: none;
  color: var(--mainBlack);
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  border-radius: 4px;
}
.sidebar-text a:hover {
  background-color: var(--bg);
  color: var(--offWhite);
}
.sidebar-toggle {
  background-color: var(--navbarBack);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: middle;
  z-index: 200;
}
.sidebar-close {
  margin: 2px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 86ms;
  cursor: pointer;
}
.sidebar-close:hover {
  filter: brightness(5.2);
}
.sidebar-close svg {
  fill: var(--bg);
  width: 16px;
  height: 16px;
}
@media screen and (max-height: 1190px) and (max-width: 1190px) {
  .side-menu.active {
    overflow: scroll;
    scroll-behavior: smooth;
  }
}
/*end of sidebar */
/* backdrop - backround for side menu, modals etc */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
/*end of backdrop */
/* Hero */
/*.defaultHero,
.plantsHero {
  min-height: calc(100vh - 66px);
  background: url("./images/defaultBackground.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.plantsHero {
  background-image: url("./images/defaultBackground.png");
  min-height: 60vh;
}
/* End of Hero */
/* Banner */
/*.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainBlack);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
/*.banner div {
  width: 20rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
*/
.banner-zip {
  width: 20rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
/*.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/*Project Space*/

