@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,700&display=swap');

:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #3e3d3d;
  --darkGrey: #838383;
  --mainGreen: #8ca68c;
  --hoverGreen: #697a69;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --navbarBack: #f9f9f9;
  --navbarBack_op:rgba(249, 249, 249, 0.5);
  --bg: #242526;
  --bg-accent: #d3d3d3;
  --text-color: #dadce1;
  --nav-size: 80px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

/* globals */
body {
  background: var(--mainWhite);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Poppins', 'IBM Plex Serif';
}

a {
  text-decoration: none;
}

.loading {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 999;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  margin: 2rem 0;
  padding: 1rem;
}

.features {
  padding-bottom: 3em;
}

.auth form {
  margin-top: 1em;
  max-width: 50%;
}

.buttons {
  margin-left: 1em;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(15px);
    transform: translateY(15px);
  }
  60% {
    -moz-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  60% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  60% {
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
/* end of globals */
/* Navbar */
.nav {
  height: var(--nav-size);
  background: var(--navbarBack_op);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-navbar {
  background-color: transparent;
  margin-top: -800px;
  background: transparent;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  width: 50px;
  float: right;
  margin-left: 3rem;
}

.nav-header img {
  object-fit: cover;
  width: 100%;
  height: 50px;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  align-items: center;
  margin-left: auto;
  margin-right: 15px;
}

.nav-menu {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  display: flex;
  
  font-size: 1rem;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: var(--bg);
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: var(--mainTransition);
  display: block;
}

.nav-links-no-hover {
  color: var(--bg);
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: var(--mainTransition);
  display: block;
}

.nav-links-title {
  color: var(--bg);
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: var(--mainTransition);
  display: block;
  cursor: default;
}

.nav-links-no-hover-title {
  color: var(--bg);
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: var(--mainTransition);
  display: block;
  cursor: default;
}

.nav-links:hover {
  border-bottom: 4px solid var(--bg);
  transition: all 0.2s ease-out;
}

.nav-links-no-hover:hover {
  background-color: var(--bg);
  color: var(--offWhite);
  transition: all 0.2s ease-out;
}

.sidebar-bars {
  display: none;
}

.navbar-btn {
  background-color: transparent;
  border: none;
  height: 40px;
  color: black;
}

@media screen and (min-width: 1190px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    padding-right: 20rem;
  }
  .nav-menu {
    height: auto;
    display: flex;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 1190px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500vh;
    position: fixed;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    position: absolute;
  }

  .nav-menu.active {
    background: var(--navbarBack);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 990;
    position: absolute;
  }

  .fa-caret-down {
    display: none;
  }

  .nav-links {
    color: var(--bg);
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: var(--mainTransition);
    display: block;
  }

  .nav-links-no-hover {
    color: var(--bg);
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: var(--mainTransition);
    display: block;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
    margin: 0.5rem;
  }

  .nav-links-title {
    color: var(--bg);
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: var(--mainTransition);
    display: block;
    cursor: default;
  }

  .nav-links-no-hover-title {
    color: var(--bg);
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: var(--mainTransition);
    display: block;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
    margin: 0.5rem;
    cursor: default;
  }

  .sub-item {
    align-items: center;
    text-align: center;
    color: var(--bg);
    text-decoration: none;
    padding: 0.3rem 0.7rem;
    font-size: 16px;
  }

  .nav-links:hover,
  .nav-links-no-hover:hover,
  .sub-item:hover {
    background-color: var(--bg);
    color: var(--offWhite);
    transition: all 0.2s ease-out;
  }

  .sidebar-bars {
    --button-size: calc(var(--nav-size) * 0.3);
    width: var(--button-size);
    height: var(--button-size);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 86ms;
    cursor: pointer;
  }
  .sidebar-bars:hover {
    filter: brightness(5.2);
  }
  .sidebar-bars svg {
    fill: var(--bg);
  }
}
/* end of navbar */
/* Banner */
.errorBanner {
  display: inline-block;
  color: var(--mainWhite);
  width: 100%;
  height: 100%;
  min-height: calc(100vh - var(--nav-size));
  padding: 2rem 1rem;
  text-align: center;
  background: #474646; /* fallback colour. Make sure this is just one solid colour. */
  background: rgba(54, 54, 54, 0.8);
}

.errorBanner h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 15rem;
}

.errorBanner div {
  width: 10rem;
  height: 5px;
  background: var(--mainGreen);
  margin: 1.7rem auto;
}

.banner {
  display: flex;
  color: var(--mainWhite);
  width: 100%;
  height: 100%;
  min-height: calc(100vh - var(--nav-size));
  padding: 2rem 1rem;
  text-align: left;
  background: #474646; /* fallback colour. Make sure this is just one solid colour. */
  background: rgba(54, 54, 54, 0.3);
}

.banner h1 {
  font-size: 3rem;
  text-align: center;
  margin: auto;
}
/* end of banner */
/* Titles */
.plants-title {
  margin: 1rem 0 0 5%;
  text-align: left;
}

.plants-title h1 {
  font-size: 50px;
  font-weight: bold;
  background-color: transparent;
  line-height: 70px;
  margin: auto;
  height: auto;
  white-space: nowrap;
  width: auto;
  letter-spacing: var(--mainSpacing);
}

.plants-title p {
  width: 50%;
  background-color: transparent;
  font-size: 15px;
  line-height: 20px;
  padding-top: 0;
  vertical-align: left;
  height: auto;
}
/* how it works */
.how-title {
  text-align: center;
  margin-bottom: 1rem;
}

.how-title h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  background-color: transparent;
  margin: auto;
  vertical-align: middle;
  height: auto;
  white-space: nowrap;
  width: auto;
  margin-bottom: 0.2rem;
  letter-spacing: var(--mainSpacing);
}

.how-title p {
  position: relative;
  left: 25%;
  padding-top: 1%;
  background-color: transparent;
  font-size: 20px;
  width: 50%;
  text-align: center;
  height: auto;
}
/* login */
.login-title {
  color: var(--bg);
  text-align: center;
  margin-bottom: 5rem;
}

.login-title h1 {
  font-size: 30px;
  line-height: 35px;
  background-color: transparent;
  margin: auto;
  vertical-align: middle;
  height: auto;
  white-space: nowrap;
  width: auto;
  margin-bottom: 0.2rem;
}

.login-title p {
  vertical-align: middle;
  padding-top: 1%;
  background-color: transparent;
  color: var(--darkGrey);
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
  text-align: center;
  height: auto;
  white-space: nowrap;
  width: auto;
}
/* register */
.register-title {
  color: var(--bg);
  text-align: center;
  margin-bottom: 0;
}

.register-title h1 {
  font-size: 30px;
  line-height: 35px;
  background-color: transparent;
  margin: auto;
  vertical-align: middle;
  height: auto;
  white-space: nowrap;
  width: auto;
  margin-bottom: 0.2rem;
}

.register-title p {
  vertical-align: middle;
  padding-top: 1%;
  background-color: transparent;
  color: var(--darkGrey);
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
  text-align: center;
  height: auto;
  white-space: nowrap;
  width: auto;
}
/* forgot password */
.forgot-title {
  color: var(--bg);
  text-align: center;
  margin-bottom: 1rem;
}

.forgot-title h1 {
  font-size: 30px;
  line-height: 35px;
  background-color: transparent;
  margin: auto;
  vertical-align: middle;
  height: auto;
  white-space: nowrap;
  width: auto;
  margin-bottom: 0.2rem;
}

.forgot-title p {
  vertical-align: middle;
  padding-top: 1%;
  background-color: transparent;
  color: var(--darkGrey);
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
  text-align: center;
  height: auto;
  width: auto;
  white-space: pre-wrap;
}
/* plant-modal*/
.plant-modal-title {
  text-align: center;
  margin-bottom: 1rem;
}

.plant-modal-title h1 {
  background-color: transparent;
  margin: auto;
  vertical-align: middle;
  height: auto;
  font-size: 26px;
  line-height: 26px;
  white-space: nowrap;
  width: auto;
  margin-bottom: 0.2rem;
  letter-spacing: var(--mainSpacing);
}

.plant-modal-title p {
  background-color: transparent;
  color: var(--darkGrey);
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
  height: auto;
  text-align: center;
  white-space: nowrap;
  width: auto;
  letter-spacing: var(--mainSpacing);
}
/* welcome */
.auth-title {
  text-align: center;
  margin-bottom: 2rem;
}

.auth-title h1 {
  background-color: transparent;
  margin: auto;
  vertical-align: middle;
  height: auto;
  font-size: 40px;
  line-height: 26px;
  white-space: nowrap;
  width: auto;
  margin-bottom: 1rem;
  letter-spacing: var(--mainSpacing);
}

.auth-title p {
  background-color: transparent;
  color: var(--darkGrey);
  width: auto;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
  height: auto;
  text-align: center;
  white-space: pre-wrap;
}
/* customize */
.cust-concept-title {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.cust-concept-title h1 {
  font-size: 50px;
  font-weight: bold;
}

.cust-concept-title p {
  width: 60%;
  padding-top: 0;
}
/* partner */
.partner-title {
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
}

.partner-title h1 {
  padding-top: 2%;
  font-weight: bold;
  font-size: 30px;
  background-color: transparent;
  vertical-align: middle;
  height: auto;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}

.partner-title p {
  padding-top: 1%;
  background-color: white;
  font-size: 20px;
  width: 50%;
  text-align: center;
  left: 24%;
  position: relative;
}
/* partner */
/* End of Titles */
/* How it works */
.how {
  height: 100%;
  width: 100%;
  padding-top: 2%;
}

.how img {
  width: 100%;
  height: 100%;
  padding-top: 2%;
}
