@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";
@import '@fortawesome/fontawesome-free/css/all.min.css';

h1 {
  font-size: 2em;
}

/*navbar start*/
.navbar, .navbar-end, .navbar-menu, .navbar-start {
  align-items: stretch !important;
  display: flex !important;
}

.navbar-menu {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.navbar-item {
  display: flex !important;
}

.navbar-end {
  justify-content: flex-end !important;
  margin-left: auto !important;
}
/*navbar end*/

.features {
  padding-bottom: 3em;
}

body {
  visibility: visible !important;
}

.auth form {
  margin-top: 1em;
  max-width: 50%;
}

.buttons {
  margin-left: 1em;
}