/* COLUMNS */
.p-row {
  padding-top: 5%;
  display: flex;
  width: 100%;
  background: var(--offWhite);
  height: 100%;
  padding-bottom: 10%;
  color: var(--mainBlack);
}

.left {
  width: 25%;
  float: left;
  background: var(--offWhite);
  padding-left: 5%;
}

.right {
  width: 75%;
  float: right;
  background: var(--offWhite);
  padding-right: 5%;
  padding-left: 5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/* end of COLUMNS */
/* TITLE */
.project-icon {
  width: 30px;
  height: auto;
  float: left;
  margin: 0 16px 16px 0;
}
.p-icon-main {
  width: 50px;
  height: auto;
  float: left;
  margin: 0 16px 16px 0;
}

.projects-title {
  padding-top: 10%;
  padding-bottom: 5%;
  width: 100%;
  float: left;
  background: var(--offWhite);
  padding-right: 5%;
  padding-left: 5%;
  height: 100%;
  color: var(--mainBlack);
}

.p-h1 {
  display: inline;
  font-weight: 400;
  font-size: x-large;
  color: var(--mainBlack);
}

.p-h2 {
  display: inline;
  font-weight: 400;
  font-size: medium;
  color: var(--mainBlack);
}
/* end of TITLE */
/*CONTAINER OVER TABLE*/
.p-container {
  position: relative;
  margin-top: 5%;
}

.p-table-title {
  font-weight: 500;
  font-size: 20px;
  display: block;
  text-align: left;
  float: left;
}

.btn-p-invite {
  background-color: #e5e5e5;
  border: none;
  padding: 10px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  float: right;
  margin: auto;
}

.btn-p-invite:hover {
  background-color: #efefef;
}

/* TABLE */
.p-table {
  width: 100%;
  border-collapse: separate;
  color: var(--mainBlack);
  border-spacing: 0 10px;
  margin-top: 5%;
}
.p-th {
  font-weight: 500;
  padding: 15px;
  text-align: left;
  color: var(--mainBlack);
  font-weight: 500;
}

.p-tr {
  width: 100%;
}

.p-td {
  position: absolute;
  background-color: #ffffff;
  padding: 15px;
  color: var(--mainBlack);
  font-weight: 400;
  width: 100%;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
/* end of TABLE */
/* BUTTON : NEW PROJECT*/
.btn-new-project {
  padding: 15px 10px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  font-size: 12px;
  color: var(--mainBlack);
  background-color: var(--mainGreen);
}

.btn-new-project:hover {
  background-color: var(--hoverGreen);
  font-size: 12px;
  color: var(--mainBlack);
}

.fas {
  padding: 0 10px;
}
/* end of BUTTON */
/* BUTTON : BACK TO PROJECTS*/
.btn-back {
  padding: 15px 10px;
  background-color: var(--offWhite);

  font-weight: 400;
  color: black;
  border: none;
  border-radius: 5px;
  float: left;
  cursor: pointer;
  font-size: 13px;
}

a.btn-back:hover {
  font-weight: 600;
}
/* end of BUTTON */

.fa-times {
  width: 30px;
  height: auto;
}

/* end of BUTTON */
/* PROJECTS-MENU */
.menu-vertical {
  width: 200px;
  float: left;
  border-radius: 5px;
  margin-top: 20%;
}

.menu-vertical a {
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  border-radius: 5px;
}

.menu-vertical a:hover {
  background-color: #e0e0e0; /* Dark grey background on mouse-over */
  font-weight: 500;
}

.menu-vertical a.active {
  background-color: var(--mainGreen);
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .menu-vertical {
    width: 100%;
    height: auto;
    position: relative;
  }
}
/*MODAL*/
.modal-project {
  background: var(--offWhite);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  max-height: 600px;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .p-inputBox,
  .p-lbl,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.p-modal-content {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  z-index: 1;
  align-content: center;
  padding-right: 5%;
  padding-left: 5%;
}

.modal-project form {
  text-align: center;
  align-items: initial;
  justify-content: center;
}

.p-inputBox {
  width: 80%;
  margin: auto;
}
.p-lbl {
  float: left;
  font-weight: 400px;
  font-size: 20px;
  padding-top: 15px;
  display: block;
  text-align: left;
  padding-bottom: 1%;
  color: var(--mainBlack);
}

input[type="text"] {
  padding: 1em;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  font-weight: 400px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 18px;
}

/*FLEX BOXES (PostNr & PostSted */
.p-flex /* div PostNr & PostSted */ {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.p-classFlex {
  flex-basis: 48%;
}

.p-lblFlex {
  font-weight: 400px;
  font-size: 20px;
  display: block;
  text-align: left;
  float: left;
  padding-top: 15px;
  padding-bottom: 1%;
}

.p-input-inline /* input PostNr & PostSted */ {
  box-sizing: border-box;
  width: 100%;
}

/* BUTTON : CLOSE MODAL*/
.btn-modal-close {
  float: right;
  background-color: var(--offWhite);
  border: none;
  padding: 10px 10px;
  cursor: pointer;
}

/* DASHBOARD */

.p-title {
  display: inline-block;
}

.project_img {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.btn-dash-greenspace {
  border: none;
  background-color: var(--offWhite);
  padding: 0px;
}

/*DASHBOARD MODAL */
.modal-dashboard {
  background: var(--offWhite);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 60%;
  height: 80%;
  padding-top: 3%;
  overflow: scroll;
}

.d-modal-content {
  display: block;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  z-index: 1;
  padding-right: 5%;
  padding-left: 5%;
}

/* TABLE */
.d-table {
  border-collapse: separate;
  color: var(--mainBlack);
  border-spacing: 0 10px;
  margin-top: 5%;
}

.d-table td {
  vertical-align: middle;
  font-size: 70%;
}
.d-th {
  font-weight: 500;
  padding: 15px;
  text-align: left;
  color: var(--mainBlack);
  font-size: 70%;
}

.d-td {
  background-color: #ffffff;
  padding: 15px;
  color: var(--mainBlack);
  font-weight: 400;
  font-size: 60%;
  height: auto;
}

td.d-modal-img {
  width: 20%;
  height: auto;
  margin: 0;
}
/*GREENSPACES*/
/* BUTTON : NEW GREENSPACE*/
.btn-new-greenspace {
  float: right;
  padding: 15px 10px;
  font-weight: 500;
  border: 1px solid var(--mainGreen);
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  color: var(--mainBlack);
  vertical-align: middle;
}

.btn-new-greenspace:hover {
  background-color: var(--hoverGreen);
  font-size: 12px;
  color: var(--mainBlack);
}

/* GRID GREENSPACES*/
.green-container {
  padding-top: 5%;
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.green-item {
  padding: 1rem;
  background-color: white;
  min-height: 15rem;
  width: auto;
  overflow: hidden;
  border-radius: 5px;
  display: block;
  text-align: center;
}

.green-item img {
  transition: 0.4s;
}

img[src*="plus"] {
  width: 20%;
  text-align: center;
}
.green-item:hover {
  transform: scale(1.02);
  cursor: pointer;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}

.green-item:hover .green-info {
  padding: 20px;
  margin-top: 10%;
  transform: scale(1.2);
  transform-origin: 50% 50%;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.green-item:hover img {
  transform: scale(1.5);
  transform-origin: 50% 50%;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.green-info {
  text-align: center;
}

.p-h3 {
  font-size: 20px;
}

.p-h4 {
  font-size: 15px;
}

/* GREENSPACE */
.greensp-page {
  padding-top: 5%;
  width: 80%;
  background: var(--offWhite);
  height: 100%;
  position: absolute;
  color: var(--mainBlack);
}
.greensp-center {
  background-color: var(--offWhite);
}

.greensp-center table {
  margin: auto;
  width: 80%;
}

/* GREENSPACE */
.light {
  font-weight: 400;
}

/*SETTINGS*/
.settings-container {
  margin-top: 5%;
  width: 60%;
}

button[type="submit"] {
  width: 100%;
  background-color: #3a83f7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 550;
}
button[type="submit"]:hover {
  background-color: #6ba3fa;
}

.settings-lbl {
  padding: 10px;
}

.settings-p {
  padding: 2px;
  font-size: 20px;
}

/*ACCOUNT*/

.acc-container {
  margin-top: 5%;
  width: 50%;
  margin-left: 10%;
}

.acc-title {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  height: 100%;
  color: var(--mainBlack);
}

.acc-container input[type="number"],
select {
  width: 38%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 1em;
  border-radius: 0.3em;
  background-color: white;
  box-sizing: border-box;
  font-weight: 400px;
  margin: auto;
}
.acc-container input[name="email"] {
  width: 60%;
}

button[name="btn-account"] {
  width: 60%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  color: gray;
  -webkit-appearance: none;
}
